---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://hackerone.com/quack711" target="_blank" rel="noopener noreferrer" aria-label="View my HackerOne profile">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 196 364" preserveAspectRatio="xMidYMid meet">
				<path d="M0 0 C3.45224601 2.86283816 5.32750753 5.40540709 5.94315016 9.91046506 C5.94580551 10.93403141 5.94846086 11.95759777 5.95119667 13.01218128 C5.96148671 14.19807403 5.97177675 15.38396679 5.9823786 16.60579568 C5.97643307 18.55431114 5.97643307 18.55431114 5.97036743 20.54219055 C5.97668897 21.93911786 5.9843041 23.33603982 5.99310148 24.73295373 C6.01340389 28.57139283 6.01492891 32.40964518 6.01331019 36.24812925 C6.01475426 40.38800986 6.03333859 44.52781938 6.04956055 48.66766357 C6.08168227 57.71927134 6.09149445 66.77082215 6.09720278 75.82247949 C6.10095328 81.47418682 6.10976051 87.12587893 6.11970139 92.77757835 C6.14664044 108.42554659 6.16915032 124.0735001 6.17157936 139.72149372 C6.17173493 140.72282583 6.17189051 141.72415795 6.1720508 142.75583346 C6.17234185 144.78577117 6.17262722 146.81570888 6.17290695 148.8456466 C6.17312123 150.35714064 6.17312123 150.35714064 6.17333984 151.89916992 C6.17347951 152.90806234 6.17361918 153.91695476 6.17376308 154.95641967 C6.17689905 171.30789334 6.21349563 187.65910224 6.2649761 204.01048849 C6.31740895 220.79816527 6.34369245 237.58571127 6.34313047 254.37347192 C6.3433832 263.79929735 6.35464052 273.22481845 6.39430618 282.65056801 C6.42790659 290.67587488 6.43739664 298.70075889 6.41554923 306.72611419 C6.40510682 310.82050937 6.40594616 314.91407623 6.43731308 319.0083828 C6.46576352 322.75867308 6.46174627 326.5074925 6.4321541 330.25776102 C6.42474376 332.25288218 6.45173879 334.24804014 6.48005545 336.2429741 C6.38577816 343.37144695 5.60940516 347.51648938 0.46627843 352.6220538 C-7.33431804 358.78026875 -15.73223788 359.81636948 -25.4375 359.125 C-32.85895006 357.93538521 -38.58536775 354.95231569 -43.4375 349.125 C-45.23213801 345.39028233 -45.68844388 342.4201646 -45.69197559 338.29470158 C-45.69780779 337.12150901 -45.70363998 335.94831644 -45.70964891 334.73957258 C-45.70586958 333.45476183 -45.70209026 332.16995108 -45.69819641 330.84620667 C-45.70121719 329.46435732 -45.7051063 328.08250965 -45.70978898 326.70066494 C-45.72008718 322.90398935 -45.71788254 319.107408 -45.71360838 315.31072462 C-45.71114448 311.21589788 -45.72015113 307.12109403 -45.72764587 303.02627563 C-45.74040406 295.00445166 -45.74218519 286.98266114 -45.73984561 278.96082873 C-45.73806361 272.44163957 -45.73980956 265.92246057 -45.74407005 259.40327263 C-45.74466524 258.4759364 -45.74526043 257.54860017 -45.74587366 256.59316285 C-45.74708539 254.7093699 -45.74829952 252.82557696 -45.74951603 250.94178402 C-45.7603958 233.27030386 -45.75822696 215.59884278 -45.75213119 197.92736154 C-45.74696114 181.75569283 -45.75821901 165.58408435 -45.77722941 149.41242755 C-45.79659404 132.81235241 -45.80486625 116.21230578 -45.80110615 99.61221927 C-45.79919208 90.29052209 -45.80170173 80.96887617 -45.81582069 71.64718819 C-45.82771793 63.71195229 -45.82915802 55.77679922 -45.81703053 47.84156222 C-45.81113028 43.79222248 -45.81007395 39.74303436 -45.82203293 35.69370461 C-45.83285264 31.98709567 -45.82983534 28.28076566 -45.81577124 24.57416999 C-45.81185402 22.59749807 -45.82270327 20.62081395 -45.83406812 18.64417082 C-45.79187046 11.75931297 -45.69007212 6.50017462 -40.67578125 1.296875 C-28.64955354 -7.58253045 -12.89821615 -7.03539063 0 0 Z "  fill="#000000" transform="translate(45.4375,4.875)"/> 
				<path d="M0 0 C3.34647972 2.54203748 4.86544581 4.83564343 6.0625 8.796875 C6.25095635 11.59949547 6.33685519 14.3011401 6.32319641 17.10240173 C6.32893473 18.35202685 6.32893473 18.35202685 6.33478898 19.62689692 C6.34510244 22.41661212 6.34112997 25.20612087 6.3371582 27.99584961 C6.34150558 29.99668061 6.34668881 31.99750994 6.35264587 33.99833679 C6.366044 39.43217332 6.36661366 44.86594032 6.36408257 50.29979014 C6.36301347 54.83520524 6.36789465 59.37060624 6.372688 63.90601832 C6.38378588 74.60491811 6.38421892 85.30378279 6.37817383 96.00268555 C6.37213206 107.0425238 6.38444961 118.08223466 6.4057439 129.12205118 C6.42335201 138.59903334 6.42936252 148.07597493 6.42610615 157.55297285 C6.42429198 163.21380136 6.42694292 168.87453899 6.44082069 174.53535271 C6.45338161 179.85823623 6.45147131 185.18092094 6.43840981 190.50380135 C6.43604074 192.45731803 6.43879049 194.41084863 6.44703293 196.36434937 C6.45747406 199.03125263 6.44942095 201.69748555 6.4367218 204.36436462 C6.44409609 205.13723043 6.45147037 205.91009623 6.45906812 206.70638222 C6.40306477 212.29755591 5.25214993 216.47574494 1.37109375 220.58984375 C-6.92097169 226.76994263 -15.64602473 228.91028022 -25.9375 227.796875 C-32.76591544 226.31523769 -38.68927976 223.67694522 -43.07303238 218.06116295 C-45.13437662 214.45218573 -45.44269972 212.49475725 -45.45648193 208.38076782 C-45.47039474 207.11039673 -45.48430756 205.84002563 -45.49864197 204.53115845 C-45.49392964 203.13616814 -45.48883577 201.74117908 -45.48339844 200.34619141 C-45.49213869 198.86748164 -45.50262605 197.38878132 -45.51472473 195.91009521 C-45.5425504 191.90637049 -45.54599019 187.90295489 -45.54500484 183.89914751 C-45.54813692 179.71104566 -45.57376124 175.52308244 -45.59698486 171.33505249 C-45.63752591 163.40916065 -45.6578811 155.48335104 -45.67095876 147.5573715 C-45.68683524 138.53193738 -45.72525358 129.50664307 -45.76555204 120.4812901 C-45.84792503 101.91986262 -45.90203337 83.35844839 -45.9375 64.796875 C-49.12800026 66.68769235 -52.31432696 68.58543782 -55.5 70.484375 C-56.39525391 71.01482422 -57.29050781 71.54527344 -58.21289062 72.09179688 C-62.22353988 74.48643361 -66.1651502 76.89417274 -69.94604492 79.640625 C-74.03452377 82.5876131 -76.98696564 83.06381558 -81.9375 82.796875 C-92.35810505 81.09786331 -99.8012777 75.15747789 -105.9375 66.796875 C-109.59047393 61.25443179 -110.8279781 54.39642325 -109.56225586 47.85864258 C-107.73543259 41.62356728 -104.22472018 39.34113469 -98.75 36.234375 C-97.02046813 35.19852619 -95.29131932 34.16203761 -93.5625 33.125 C-92.18771484 32.31579102 -92.18771484 32.31579102 -90.78515625 31.49023438 C-85.88519113 28.57646911 -81.07512878 25.51983542 -76.25 22.484375 C-74.22570407 21.22064322 -72.20095898 19.95763068 -70.17578125 18.6953125 C-65.89534211 16.0240152 -61.62298751 13.34032498 -57.35546875 10.6484375 C-55.74321411 9.63390503 -55.74321411 9.63390503 -54.09838867 8.59887695 C-52.0485301 7.30867092 -50.00040498 6.01570509 -47.9543457 4.71948242 C-32.75240144 -4.83403903 -16.66399665 -10.34780437 0 0 Z " fill="#000000" transform="translate(189.9375,136.203125)"/>
			</svg>
			</a>

			<a href="https://github.com/Quackers711" target="_blank">
				<span class="sr-only">GitHub Account</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
